* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Common Styles */
.btn {
    padding: 10px 20px;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border: 1px solid #E55473;
    transition: .2s ease;
}

.btn:hover {
    border: 1px solid #E55473;
    background-color: #fff;
    color: #333;
}

.title {
    text-align: center;
    color: #272727;
    padding: 80px 0 0 0;
    font-size: 35px;
}

.title-text {
    font-size: 15px;
    color: rgba(39, 39, 39, 0.60);
    margin: 20px 0;
    text-align: center;
}

/* Common Styles End */
.header-container {
    padding: 30px 130px 0px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    height: 550px;
}

.header-content {
    width: 50%;
}

.header-content h1 {
    font-size: 40px;
    padding: 20px 0;
    color: #272727;
}

.header-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    margin-bottom: 15px;
}

.header-img img {
    width: 400px;
    margin-bottom: -52px;
}

.flower-container {
    padding-bottom: 30px;
}

.flower-info {
    text-align: center;
    padding: 100px 0 50px 0;
}

.flower-info h1 {
    color: #272727;
    margin-bottom: 15px;
}

.flower-info p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
}

.flower-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-flower {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.featured-flower p {
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
    margin-left: -40px;
}

.featured-flower-1,
.featured-flower-2,
.featured-flower-3 {
    margin-right: 40px;
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}

.featured-flower-3 {
    margin-right: 0;
}

.featured-flower-1 {
    background: rgba(167, 33, 98, 0.15);

}

.featured-flower-1 img {
    position: relative;
    bottom: -74px;
}

.featured-flower-2 img {
    position: relative;
    bottom: -90px;
}

.featured-flower-3 img {
    position: relative;
    bottom: -50px;
}

.featured-flower-2 {
    background: rgba(5, 151, 160, 0.15);
}

.featured-flower-3 {
    background: rgba(71, 125, 17, 0.15);
}

.flower-img-container img {
    width: 200px;
}

.pricing-container {
    display: flex;
    justify-content: space-around;
    padding: 60px 130px 100px 130px;
}

.pricing-box {
    width: 240px;
    height: 300px;
    text-align: center;
    color: #333;
    padding: 10px;
    box-shadow: 0px 7px 23px #9e9d9d;
}

.pricing-box h1 {
    margin-bottom: 10px;
}

.pricing-box h3 {
    margin-bottom: 20px;
}

.pricing-box ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.pricing-box li {
    padding: 5px;
}

.pricing-box p {
    background-color: #E55473;
    color: #fff;
    padding: 5px 0;
    margin-bottom: 10px;
}

.fa-check {
    color: rgb(137, 187, 1);
}

.fa-xmark {
    color: tomato;
}

.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 100px 0;
}

.signup-content {
    width: 40%;
    text-align: center;
    margin-right: 30px;
}

.signup-content h1 {
    margin-bottom: 20px;
}

.signup-content span {
    color: #E55473;
}

.signup-content p {
    font-size: 15px;
    color: rgba(39, 39, 39, 0.60);
    margin: 20px 0;
}

.signup-img img {
    width: 200px;
    margin-left: 50px;
}

.insta-card-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 130px;
}

.insta-card-container img {
    width: 250px;
}

.sub-container {
    padding: 10px 130px;
    margin-top: 50px;
}

.sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/Rectangle\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 340px;
}

.sub-content h1 {
    padding-top: 0px;
}

input[type="email"] {
    width: 500px;
    padding: 13px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

footer {
    background-color: #111010;
    padding: 120px 130px;
    margin-top: 90px;
}

.footer-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container span {
    color: #E55473;
}

.footer-container h1 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-container .footer-text {
    color: rgba(255, 255, 255, 0.90);
    margin-bottom: 30px;
    font-size: 15px;
}

.copy {
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
}